.container {
  font-family: IRANSansX, Arial, Helvetica, sans-serif;
  width: 90%;
  margin: 20px auto;
  padding: 100px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.286);
}
.subContainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.info div {
  display: flex;
  margin: 10px 0;
}
.info img {
  width: 30px;
  margin-left: 5px;
}
.media img {
  width: 100%;
  border-radius: 16px;
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
  }
  .subContainer {
    grid-template-columns: 1fr 1fr;
  }
}
