.container {
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  font-family: IRANSansX, Arial, Helvetica, sans-serif;
}
.links {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr;
}
.links ul {
  list-style-type: none;
}
.links p {
  font-size: 1rem;
  font-weight: 500;
}
.links a {
  font-size: 0.95rem;
  font-weight: 300;
}
.links a:hover {
  color: rgb(38, 97, 84);
  text-decoration: underline !important;
}
.logo {
  margin: 20px 0;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.logo img {
  width: 200px;
}
.sub {
  text-align: center;
  margin-top: 20px;
  opacity: 0.6;
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }
  .links {
    grid-template-columns: repeat(3, 1fr);
  }
  .links {
    grid-row-start: 1;
  }
  .logo {
    justify-content: flex-end;
  }
  .sub {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
