.container {
  margin: 20px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.286);
  border-bottom: 1px solid rgba(128, 128, 128, 0.286);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
}
.logos {
  display: block;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  animation: scrolling 25s linear infinite;
}

.logos div {
  width: 100px;
}

.container img {
  width: 100%;
}
.box {
  width: 100px !important;
  height: 100% !important;
  background-color: #fff !important;
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 1024px) {
  .container {
    height: 170px;
  }
  .logos div {
    width: 200px;
  }
}
